.my-profile-index__body {
  height: 100%;
}

.my-profile-index__relative {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
}

.my-profile-index__absolute {
  position: fixed;
  top: 10%;
  height: 84%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.my-profile-bottombutton {
  position: fixed;
  bottom: 0;
  width: 100%;
}