.container {
	display: flex;
	width: 100cqw;
	height: 21.25cqh;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #d9d9d9;
	container-type: size;
}

.container > div {
	width: 80cqw;
	height: 50cqh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	container-type: size;
}

.roomInformationContainer {
	display: flex;
	width: 50cqw;
	height: 100cqh;
	flex-direction: column;
	justify-content: space-between;
}

.roomInformationContainer > div {
	height: 45cqh;
}

.roomInformationContainer > div:first-child {
	display: flex;
	align-items: center;
	container-type: size;
	gap: 5cqw;
}

.roomInformationContainer > div:first-child > div:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5cqw;
	height: 100cqh;
	background-color: #727272;
	color: #ffffff;
}

.roomInformationContainer > div:first-child > div:first-child > span {
	font-size: 60cqh;
}

.roomInformationContainer > div:first-child > div:last-child {
	display: flex;
	align-items: center;
	gap: 3cqw;
}

.iconContainer {
	width: 100cqh;
	height: 100cqh;
	border-radius: 50%;
	background-color: #ffffff;
}

.iconContainer > svg {
	transform: translate(22%, 20%);
}
