.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	container-type: size;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container > div {
	width: calc(360 / 640 * 100cqh);
	height: 100cqh;
	z-index: 101;
	container-type: size;
}

.container > div > div {
	width: 80cqw;
	height: 100cqh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	transition: transform 0.3s ease-in-out;
	container-type: size;
	z-index: 102;
}

.container > div > div > div {
	width: 80cqw;
	container-type: size;
}

.header {
	height: 13cqh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	container-type: size;
}

.header > span {
	font-size: 20cqh;
}

.header > svg {
	width: 30cqh;
	height: 30cqh;
}

.container > div > div > div:last-child {
	height: 87cqh;
}
