.container {
	height: 100vh;
	width: 100cqw;
	container-type: size;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.editContainer {
	height: 100cqh;
	width: 100cqw;
	container-type: size;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
