.container {
	container-type: size;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #727272;
	cursor: pointer;
}

.container:hover {
	background-color: #7a7a7a;
}

.container:active {
	background-color: #6a6a6a;
}

.container > span {
	color: #fff;
	font-family: Inter;
	font-size: 30cqh;
	font-style: normal;
	font-weight: 600;
}
