.container {
	display: flex;
	justify-content: center;
	align-items: center;
	container-type: size;
}

.container > div {
	display: flex;
	flex-direction: column;
	width: 80cqw;
	height: 90cqh;
	container-type: size;
}

.container > div > div:last-child {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5cqh;
	width: 100cqw;
	height: 90cqh;
	container-type: size;
}
